@page "/Caricatura"
<h3>Caricatura</h3>
<div class=e205_419>
    <div class="e205_426"></div><span class="e205_427">GEEK - CARICATURA</span>
    <div class="e63_63"></div>
    <div class="e63_64"></div>
    <div class="e63_65"></div>
    <div class="e63_66"></div>
    <div class="e63_67"></div>
    <div class="e63_68"></div>
    <div class="e63_69"></div>
    <div class="e63_70"></div>
    <div class="e63_71"></div>
    <div class="e63_72"></div>
    <div class="e63_73"></div>
    <div class="e63_74"></div>
    <div class="e63_75"></div>
    <div class="e63_76"></div>
    <div class="e63_77"></div>
    <div class="e63_78"></div>
    <div class="e63_79"></div>
    <div class="e63_80"></div>
    <div class="e205_473"></div>
    <div class="e205_474"></div>
    <div class="e205_475"></div>
    <div class="e205_476"></div>
    <div class="e205_477"></div>
    <div class="e205_478"></div><span class="e206_197">PERFIL</span><span class="e206_198">MENU PRINCIPAL</span>
    <div class="e206_199"></div>
</div>

@code {

}
