@page "/Geometrico"
<h3>Geometrico</h3>
<div class=e205_392>
    <div class="e205_393"></div>
    <div class="e205_394"></div>
    <div class="e205_395"></div>
    <div class="e205_396"></div>
    <div class="e205_397"></div>
    <div class="e205_398"></div>
    <div class="e205_417"></div><span class="e205_418">GEOMETRICO</span>
    <div class="e63_83"></div>
    <div class="e63_84"></div>
    <div class="e63_85"></div>
    <div class="e63_86"></div>
    <div class="e63_87"></div>
    <div class="e63_88"></div>
    <div class="e63_89"></div>
    <div class="e63_90"></div>
    <div class="e63_91"></div>
    <div class="e63_92"></div>
    <div class="e63_93"></div>
    <div class="e63_94"></div>
    <div class="e63_95"></div>
    <div class="e63_96"></div>
    <div class="e63_97"></div>
    <div class="e63_98"></div>
    <div class="e63_99"></div>
    <div class="e63_100"></div><span class="e206_200">PERFIL</span><span class="e206_201">MENU PRINCIPAL</span>
    <div class="e206_202"></div>
</div>


@code {

}
