@page "/MenuPrincipal"
<h3>MenuPrincipal</h3>

<div class=e127_296>
    <span class="e127_297">TINTA  ESPACIAL</span><span class="e127_298">NFT</span>
    <div class="e127_299"></div>
    <div class="e127_300"></div><span class="e127_302">AUTOR: </span><span class="e127_303">NOMBRE: </span><span class="e127_312">DISEÑO NFT   SI                NO</span><span class="e127_304">PRECIO : </span><span class="e127_311">MEDIOS DE PAGO</span><span class="e127_305">TOKEN ID:       </span><span class="e127_306">DETALLE: </span>
    <div class="e127_307"></div><span class="e127_308">CARGAR</span>
    <div class="e205_110"></div><span class="e206_126">BUSCAR</span>
    <div class="e206_127"></div>
    <div class=e107_125>
        <div class=e120_120>
            <div class=e120_121>
                <div class=e120_122>
                    <div class=e120_123>
                        <div class="e120_124"></div>
                    </div>
                    <div class=e120_125>
                        <div class="e120_126"></div>
                    </div><span class="e120_128">ESTILOS</span>
                </div>
            </div>
        </div>
        <div class=e120_129>
            <div class=e120_130>
                <div class=e120_131>
                    <div class="e120_132"></div>
                </div>
                <div class=e120_133>
                    <div class="e120_134"></div>
                </div><span class="e120_136">ESTUDIO</span>
            </div>
        </div>
        <div class=e120_137>
            <div class=e120_138>
                <div class=e120_139>
                    <div class="e120_140"></div>
                </div>
                <div class=e120_141>
                    <div class="e120_142"></div>
                </div><span class="e120_144">ARTISTA</span>
            </div>
        </div>
        <div class=e120_145>
            <div class=e120_146>
                <div class=e120_147>
                    <div class="e120_148"></div>
                </div>
                <div class=e120_149>
                    <div class="e120_150"></div>
                </div><span class="e120_152">NFT</span>
            </div>
        </div>
    </div>
</div>

@code {

}
