@page "/NFTIndividual"
<h3>NFTIndividual</h3>
<div class=e205_111>
    <span class="e205_113">NFT</span>
    <div class="e205_115"></div>
    <div class="e205_116"></div><span class="e205_117">AUTOR: MNKY</span><span class="e205_118">NOMBRE: MON LIS</span><span class="e205_119">PRECIO : 15 ETH</span><span class="e205_120">TOKEN ID:       98F7G6FSD6G09FS8G780S7G08F7’0AS7H09SH89H8’09DF8HF</span><span class="e205_121">DETALLE: esta obra representa los peces del infierno, el grupo de elite de la segunda guerra mundial, comandados por abraham simposns. este grupo esta compuesto por nueve integrantes todos pertenecientes a la ciudad de sprinffield</span>
    <div class="e205_122"></div><span class="e205_123">COMPRAR</span>
    <div class="e205_211"></div><span class="e206_178">PERFIL</span><span class="e206_179">MENU PRINCIPAL</span>
    <div class="e206_180"></div>
</div>

@code {

}
