@page "/NFTs"
<h3>NFTs</h3>
<div class=e127_186>
    <div class="e127_190"></div>
    <div class="e127_191"></div><span class="e127_192">AUTOR: MNKY</span><span class="e127_193">NOMBRE: MON LIS</span><span class="e127_194">PRECIO : $15 00 </span>
    <div class="e127_197"></div><span class="e127_198">COMPRAR</span>
    <div class="e205_190"></div>
    <div class="e205_191"></div><span class="e205_192">AUTOR: MNKY</span><span class="e205_193">NOMBRE: MON LIS</span><span class="e205_194">PRECIO : $15 00 </span>
    <div class="e205_195"></div><span class="e205_196">COMPRAR</span>
    <div class="e205_197"></div>
    <div class="e205_198"></div><span class="e205_199">AUTOR: MNKY</span><span class="e205_200">NOMBRE: MON LIS</span><span class="e205_201">PRECIO : $15 00 </span>
    <div class="e205_202"></div><span class="e205_203">COMPRAR</span>
    <div class="e205_204"></div>
    <div class="e205_205"></div><span class="e205_206">AUTOR: MNKY</span><span class="e205_207">NOMBRE: MON LIS</span><span class="e205_208">PRECIO : $15 00 </span>
    <div class="e205_209"></div><span class="e205_210">COMPRAR</span>
    <div class="e205_212"></div><span class="e206_162">BUSCAR NFT</span><span class="e206_163">PERFIL</span><span class="e206_164">MENU PRINCIPAL</span>
    <div class="e206_165"></div>
    <div class="e206_166"></div>
</div>

@code {

}
