@page "/Realismo"

<h3>Realismo</h3>
<div class=e120_305>
    <span class="e63_22">REALISMO</span>
    <div class="e63_24"></div>
    <div class="e63_25"></div>
    <div class="e63_26"></div>
    <div class="e63_27"></div>
    <div class="e63_28"></div>
    <div class="e63_29"></div>
    <div class="e63_30"></div>
    <div class="e63_31"></div>
    <div class="e63_32"></div>
    <div class="e63_33"></div>
    <div class="e63_34"></div>
    <div class="e205_378"></div>
    <div class="e205_379"></div>
    <div class="e205_380"></div>
    <div class="e205_381"></div>
    <div class="e205_382"></div>
    <div class="e205_383"></div>
    <div class="e63_35"></div>
    <div class="e63_36"></div>
    <div class="e63_37"></div>
    <div class="e63_38"></div>
    <div class="e63_39"></div>
    <div class="e63_40"></div>
    <div class="e63_3"></div>
    <div class="e205_377"></div><span class="e206_191">PERFIL</span><span class="e206_192">MENU PRINCIPAL</span>
    <div class="e206_193"></div>
</div>

@code {

}
